@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 48 10% 20%;
    --card: 48 33% 98%;
    --card-foreground: 48 10% 20%;
    --popover: 48 33% 98%;
    --popover-foreground: 48 10% 20%;
    --primary: 120 30% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 40 88% 75%;
    --secondary-foreground: 40 50% 20%;
    --muted: 48 25% 90%;
    --muted-foreground: 48 10% 45%;
    --accent: 35 100% 63%;
    --accent-foreground: 35 60% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 20% 85%;
    --input: 48 25% 90%;
    --ring: 120 30% 65%;
    --chart-1: 120 40% 60%;
    --chart-2: 35 90% 70%;
    --chart-3: 120 30% 40%;
    --chart-4: 35 80% 60%;
    --chart-5: 120 50% 80%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 48 5% 10%;
    --foreground: 48 10% 95%;
    --card: 48 5% 12%;
    --card-foreground: 48 10% 95%;
    --popover: 48 5% 10%;
    --popover-foreground: 48 10% 95%;
    --primary: 120 30% 45%;
    --primary-foreground: 120 25% 95%;
    --secondary: 40 88% 45%;
    --secondary-foreground: 40 50% 95%;
    --muted: 48 5% 20%;
    --muted-foreground: 48 10% 60%;
    --accent: 35 100% 55%;
    --accent-foreground: 35 60% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 5% 25%;
    --input: 48 5% 22%;
    --ring: 120 30% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
